{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "google",
    "plugin:jsdoc/recommended",
    "eslint-config-prettier",
    "prettier" // prettierのextendsは最後に記述
  ],
  "plugins": ["@typescript-eslint", "unicorn", "jsdoc"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "jsdoc/require-jsdoc": [
      "error",
      {
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        },
        "contexts": [
          "ArrowFunctionDeclaration",
          "ArrowFunctionExpression",
          "ClassDeclaration",
          "ClassExpression",
          "ClassProperty",
          "FunctionDeclaration", // function
          "FunctionExpression",
          "MethodDefinition",
          "TSDeclareFunction", // function without body
          "TSEnumDeclaration",
          "TSInterfaceDeclaration",
          "TSModuleDeclaration", // namespace
          "TSTypeAliasDeclaration"
        ]
      }
    ],
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns": 2,
    "require-jsdoc": 2
  },
  "settings": {
    "jsdoc": {
      "tagNamePreference": {
        "returns": "return"
      }
    }
  }
}
